.Badge {
  display: inline-block;
  margin-right: 1rem;
}

.Badge > .badgeIcon {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #0BC6DC;
}

.Badge > .badgeProgress {
  text-align: center;
}
