.header {
    text-align: center;
    background-color: white !important;
    padding-top: 200px; 
    margin-top: 50px; 

}

.header .header-image {
    display: inline-block; 
    text-align: left;  
}

.header .header-text {
    display: inline-block; 
    font-size: 50pt; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}