.Header {
    background-color: white;
    padding: 8px;
    box-shadow: 1px 2px 1px #d3d3d3;
}

.Header .container {
    display: flex;

}
.Header i {
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.Header i:hover {
    background-color: rgba(0,0,0,0.071);
}
